* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-primary: #000;
    --dark-secundary #333;
}

body {
    width: 100%;
    height: 100%;
}

.header__conteiner {
    width: 100%;
    height: 100px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo__conteiner {
    margin-left: 10%;
}
.logo__conteiner span {
    color: #fff;
}
.buscar__conteiner {

}
.input__buscar {

}
.fa-magnifying-glass {
    color: #fff;
}
.menu {
    margin-right: 10%;
}
.btn__menu {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
}

.dash {
    width: 30px;
    height: 2px;
    background-color: aliceblue;
    margin-bottom: 4px;
}
.dash:hover {
    background-color: #ccc;
}
.menu__conteiner {
    display: none;
}
.menu__conteiner ul {

}
.menu__conteiner.change {

}
.nav__conteiner {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
}
.nav__list {
    width: 95%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #444;
}
.nav__item {
    list-style-type: none;
    margin: 0 10px;
}
.nav__link {
    color: #fff;
    padding: 10px;
}
.main__conteiner {
    width: 100%;
    height: auto;
    background-color: #ccc;
    text-align: center;
}
.main__content {
    width: 85%;
    height: auto;
    overflow: hidden;
    overflow-x: hidden;
    background-color: var(--dark-primary);
    display: flex;

    justify-content: space-between;
    align-items: center;
    margin: 0rem auto;
    border: 40px solid rgba(0,0,0,0.2);
}
.buttons__card {
    width: 100%;
    transform: translatey(10rem);
    position: absolute;
}
.buttons__card button {
    width: 25px;
    height: 25px;
    background-color: rgba(255,255,255,0.3);
}
#btnNext {
    margin-left: 80%;
}
.main__card {
    width: 30%;
    min-width: 300px;
    height: 300px;
    background-color: var(--dark-secundary);
    list-style-type: none;
    border: 1px solid #fff;
    color: #fff;
    padding: 2rem 0;
}
.section__conteiner {
    background-color: #00d;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 2rem 0;
}
.article__conteiner {
    background-color: #990999;
    width: 60%;
    height: auto;
}
.aside__conteiner {
    background-color: #000;
    color: #fff;
    width: 30%;
    height: auto;
}
.bolls__conteiner {
    width: 100%;
    height: auto;
    background-color: var(--dark-primary);
    padding: 2rem 0;
}
.bigballs__conteiner {
    width: 95%;
    height: auto;
    display: flex;
    overflow-x: hidden;
    background-color: #222;
    margin: 2rem auto;
}
.bigballs {
    min-width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #fff;
    color: #ccc;
    margin: 10px;
    list-style-type: none;
}
.buttons__bigballs {
    width: 100%;
    transform: translatey(-1rem);
    position: absolute;
    margin-left: 22px;

}
.buttons__bigballs button {
    width: 25px;
    height: 25px;
    background-color: rgba(255,255,255,0.3);
}
.btn__nextb {
    margin-left: 80%;
}